* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

.intestazione {
    background-color: #fff;
    padding: 10px 20px;
}

.logo {
    vertical-align: middle;
}

.text-logo {
    display: inline-block;
    vertical-align: middle;
}