* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

ul {
    list-style-type: none;
}

/* fine tag principali */

.intestazione {
    background-color: #fff;
    padding: 10px 20px;
}

.logo {
    vertical-align: middle;
}

.text-logo {
    display: inline-block;
    vertical-align: middle;
}

/* fine classi header */

.container {
    width: 1440px;
    background-color: #fff;
    margin: 60px auto;
    border-radius: 5px;
}

.padding-left{
    padding-left: 50px;
}

/* buttons */

.bt {
    padding: 5px 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
}

.bt-blue {
    color: #fff;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.bt-white {
    color: #ccd2d6;
    background-color: #fff;
    border: 1px solid #ccd2d6;
}

/* /buttons */

.hr-color {
    border: 1px solid #f6f8f9;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.divisore {
    margin-top: 40px;
    margin-bottom: 40px;
}

.divisore-li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.round {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.check {
    color: #65c0a9;
    background-color: #fff;
    border: 1px solid #65c0a9;
}

.cross {
    color: #eb5952;
    background-color: #fff;
    border: 1px solid #eb5952;
}

.container small {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.blue {
    background-color: #45abea;
}

.violet {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a1;
}

.light-green {
    background-color: #b0c926;
}